# Django ORM 연습


이 파일은 반드시 **db.sqlite3 파일과** 같은 위치에 있어야합니다.

또한 기존의 `jupyter notebook` 명령어가 아닌, **아래의 명령어로 실행합니다.**


```bash
$ python manage.py shell_plus --notebook

```

# 기본 설정

- 시작 전 아래 코드블럭을 실행해주세요 :)

In [6]:
# 아래의 코드는 절대 수정하지 않습니다.

def show_db():
    import os
    import pandas as pd
    import sqlite3

    os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
    conn = sqlite3.connect("./db.sqlite3")
    columns = ['id', 'title', 'content', 'created_at', 'updated_at']
    articles_article = pd.read_sql_query("select * from articles_article", conn, columns)
    return articles_article

In [7]:
# article 테이블의 내용물을 보고싶을 때 아래와 같이 실행합니다.

show_db()

Empty DataFrame
Columns: []
Index: []

# CREATE

- ORM을 이용한 데이터 생성은 3가지 방법이 있습니다.

In [8]:
# 1. 첫번째 방법

article1 = Article()
article1.title = 'first title'
article1.content = 'first content'

In [9]:
# 제목과 내용을 출력해봅니다.

print(article1.title)
print(article1.content)

first title
first content

In [3]:
# 실제로 데이터베이스에 저장이 됐는지 확인해봅시다.

article1

In [10]:
# 첫번째 방식은 반드시 save() 함수를 통해 DB에 저장해야합니다.

article1.save()

In [ ]:
# DB 확인

In [11]:
show_db()

Empty DataFrame
Columns: []
Index: [(1, first title, first content, 2020-08-19 16:43:17.527990, 2020-08-19 16:43:17.527990)]

In [8]:
article1

In [9]:
# 2. 두번째 방법

article2 = Article(title='second title', content='second content')

In [10]:
# DB에 저장이 됐는지 확인해봅니다.

article2

In [11]:
# save() 함수를 통해 저장해줍시다.

article2.save()

In [12]:
# DB 확인

show_db()

Empty DataFrame
Columns: []
Index: [(1, first title, first content, 2020-08-19 09:52:22.704764, 2020-08-19 09:52:22.704764), (2, second title, second content, 2020-08-19 09:54:52.350484, 2020-08-19 09:54:52.350484)]

In [13]:
# 세번째 방법

article3 = Article.objects.create(title='third title', content='third content')

In [14]:
# DB에 실제로 저장됐는지 확인해봅시다.
# create() 메서드를 통한 데이터 생성은 save() 함수를 호출하지 않아도 됩니다.

article3

In [15]:
# DB 확인

show_db()

Empty DataFrame
Columns: []
Index: [(1, first title, first content, 2020-08-19 09:52:22.704764, 2020-08-19 09:52:22.704764), (2, second title, second content, 2020-08-19 09:54:52.350484, 2020-08-19 09:54:52.350484), (3, third title, third content, 2020-08-19 09:56:30.346327, 2020-08-19 09:56:30.346327)]

# READ

- 데이터베이스에 저장된 값을 불러올 때 사용합니다.
    - ClasName.objects.all()
    - ClassName.objects.filter()
    - ClassName.objects.get()
    - ClassName.objects.order_by()

In [16]:
# 게시글 전부를 가져와봅시다.

articles = Article.objects.all()
print(articles)

<QuerySet [<Article: Article object (1)>, <Article: Article object (2)>, <Article: Article object (3)>]>

In [18]:
# QuerySet은 리스트처럼 인덱싱과 슬라이싱이 가능합니다.

print(articles[0])
print(articles[1:])

Article object (1)
<QuerySet [<Article: Article object (2)>, <Article: Article object (3)>]>

In [19]:
# 주의) QuerySet은 리스트와 비슷하지만 같지 않습니다.
# 음수 인덱싱을 시도해봅시다.

print(articles[-1])

AssertionError: Negative indexing is not supported.

In [20]:
# filter를 통해 조건에 해당하는 데이터만 가져올 수 있습니다.

articles = Article.objects.filter(title='first title')
print(articles)

<QuerySet [<Article: Article object (1)>]>

In [21]:
# 위에서 가져온 글과 같은 제목을 가진 데이터를 하나 더 추가합니다

Article.objects.create(title='first title', content='first content!!!!')

In [22]:
# filter를 통해 확인해봅시다.

articles = Article.objects.filter(title='first title')
print(articles)

<QuerySet [<Article: Article object (1)>, <Article: Article object (4)>]>

In [23]:
# QuerySet도 반복문 사용이 가능합니다.
# 반복문을 통해서 하나씩 확인해봅시다.

for article in articles:
    print(article)
    print(article.title)

Article object (1)
first title
Article object (4)
first title

In [25]:
# QuerySet에서 가장 첫번째와 마지막 값 가져오기

articles = Article.objects.all()
print(articles[0])
print(articles[-1])

Article object (1)

AssertionError: Negative indexing is not supported.

In [26]:
# first()

Article.objects.first()

In [27]:
# last()

Article.objects.last()

In [30]:
# 조건을 같이 줄 수도 있습니다.

Article.objects.filter(title='first title').first()

In [32]:
# get

Article.objects.get(pk=1)

In [35]:
# get vs. filter (1)

article_by_get = Article.objects.get(pk=1)
article_by_filter = Article.objects.filter(pk=1)

print(article_by_get)
print(article_by_filter)

Article object (1)
<QuerySet [<Article: Article object (1)>]>

In [36]:
# get vs. filter (1)

Article.objects.get(pk=100)

DoesNotExist: Article matching query does not exist.

In [37]:
# filter는 값이 없어도 에러가 발생하지 않습니다.

Article.objects.filter(pk=100)

In [38]:
# order_by (ascending)

Article.objects.order_by('pk')

In [39]:
# order_by (descending)

Article.objects.order_by('-pk')

In [42]:
# 아래의 것들을 사용하여 조건을 조금 더 다채롭게 줄 수도 있습니다.
# like, startswith, endswith

articles = Article.objects.filter(title__contains='fir')
print(articles)

articles = Article.objects.filter(title__startswith='se')
print(articles)

articles = Article.objects.filter(title__endswith='e')
print(articles)

<QuerySet [<Article: Article object (1)>, <Article: Article object (4)>]>
<QuerySet [<Article: Article object (2)>]>
<QuerySet [<Article: Article object (1)>, <Article: Article object (2)>, <Article: Article object (3)>, <Article: Article object (4)>]>

# UPDATE

- update 로직은 비교적 간단합니다.
- 1) 기존 데이터베이스에 저장된 값을 불러옵니다.
- 2) 원하는 값을 수정합니다.
- 3) 다시 저장합니다. 끝.

In [43]:
# pk가 1인 데이터를 가져와서 제목을 '오늘 저녁 뭐먹지?'로 수정해봅시다.

article = Article.objects.get(pk=1)
article.title = '오늘 저녁 뭐먹지?'
article.save()

In [44]:
# DB 확인

show_db()

Empty DataFrame
Columns: []
Index: [(1, 오늘 저녁 뭐먹지?, first content, 2020-08-19 09:52:22.704764, 2020-08-19 10:31:40.096592), (2, second title, second content, 2020-08-19 09:54:52.350484, 2020-08-19 09:54:52.350484), (3, third title, third content, 2020-08-19 09:56:30.346327, 2020-08-19 09:56:30.346327), (4, first title, first content!!!!, 2020-08-19 10:11:49.267108, 2020-08-19 10:11:49.267108)]

# DELETE


- delete 로직은 겁나게 간단합니다.
- 1) 기존 데이터베이스에 저장된 값을 불러옵니다.
- 2) 삭제합니다. 끝

In [45]:
# pk가 2인 값을 불러와서 삭제해봅시다.

article = Article.objects.get(pk=2)
article.delete()

(1, {'articles.Article': 1})

In [46]:
# 실제로 삭제가 됐는지 확인해봅시다.

show_db()

Empty DataFrame
Columns: []
Index: [(1, 오늘 저녁 뭐먹지?, first content, 2020-08-19 09:52:22.704764, 2020-08-19 10:31:40.096592), (3, third title, third content, 2020-08-19 09:56:30.346327, 2020-08-19 09:56:30.346327), (4, first title, first content!!!!, 2020-08-19 10:11:49.267108, 2020-08-19 10:11:49.267108)]